{
  "trailingComma": "all",
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "./src/app.pcss",
  "tailwindConfig": "./tailwind.config.cjs"
}
